<h2 mat-dialog-title class="mb-5 text-center">Create Album</h2>
<mat-dialog-content>

    <div class="container-fluid">
        <form [formGroup]="formCreateAlbum" (ngSubmit)="createAlbum()">

            <div class="mb-3">
                <label class="col-md-5 ps-5 pt-2">Upload Image</label>
                <button type="button" class="btn btn-primary mt-1" (click)="triggerFileInput()">Upload Image</button>
                                        <input 
                                            id="imageUpload" 
                                            type="file" 
                                            class="d-none" 
                                            (change)="onFileSelected($event)" 
                                            accept="image/*"
                                        >
                <div *ngIf="imageError" style="color: red; margin-left: 13rem;">
                    {{ imageError }}
                </div>
            </div>

            <div class="input-group input-group-outline mb-3">
                <label class="col-5 ps-5 pt-2">Title</label>
                <input formControlName="title" type="text" class="form-control" placeholder="Enter here">
                <div *ngIf="submitted && f['title'].errors?.['required']" class="invalid-feedback">
                    Title is required
                </div>

                <div *ngIf="submitted &&f['title'].errors?.['backendError']" class="invalid-feedback">
                    {{ f['title'].errors?.['backendError'] }}
                </div>
            </div>

         
                <div class="input-group input-group-outline mb-3">
                    <label class="col-md-5 ps-5 pt-2">Release Date</label>
                    <input type="date" formControlName="releaseDate" class="form-control">
                    <div *ngIf="submitted && f['releaseDate'].errors?.['required']"
                        class="invalid-feedback">
                        Release Date is required
                    </div>
                </div>
          

            <div class="input-group input-group-outline mb-3">
                <label class="col-5 ps-5 pt-2">Artist</label>
                
                <form [formGroup]="artistForm">
                    <input matInput formControlName="artistGroup" [matAutocomplete]="auto" placeholder="Search for artist" (blur)="onBlurDi($event)"
                      class="form-control">
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onArtistSelected($event.option.value)">
                      <mat-option *ngFor="let artist of (filteredArtists | async)" [value]="artist.artistName">
                        {{ artist.artistName }}
                      </mat-option>
                    </mat-autocomplete>
                  </form>

                <div *ngIf="submitted && artistForm.controls['artistGroup'].errors?.['required']" class="invalid-feedback">
                    Artist is required
                </div>

                <div *ngIf="submitted &&f['artistId'].errors?.['backendError']" class="invalid-feedback">
                    {{ f['artistId'].errors?.['backendError'] }}
                </div>
            </div>
            
            <button mat-button color="primary" class="btn btn-lg bg-gradient-primary btn-lg w-150 mt-4 mb-0">
                Save
            </button>
            <button mat-button mat-dialog-close class="btn btn-lg bg-gradient-black btn-lg w-150 mt-4 mb-0">
                Cancel
            </button>
        </form>
    </div>
</mat-dialog-content>