.input-group .form-control {
    padding: 15px 5px 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }

  .input-group .form-control:focus {
    border-color: #007bff;
    outline: none;
  } 

  .invalid-feedback {
    display: block;
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    visibility: visible;
    padding-left: 42% !important;
  }

  /* .main-content {
    flex: 1;
    margin-left: 135px;
  }

  .input-container {
    width: 57%;
    position: relative;
    display: flex;
    align-items: center;
  } */
  
  /* .input-container .form-control {
    width: 100%;
    padding-right: 40px; 
  } */
  
  /* .input-container .toggle-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #6c757d;
    font-size: 16px;
  }
  
  .input-container .toggle-icon:hover {
    color: #000;
  } */
  