<h2 mat-dialog-title class="text-center">Edit File</h2>
<mat-dialog-content>
  <div class="container-fluid">
    <form role="form" (ngSubmit)="edit()">
      <div class="input-group-outline mb-3 mt-2">
        <label class="col-md-5 ps-5 pt-2">Audio_File</label>
        <button type="button" class="btn btn-primary" (click)="triggerFileInput('audioFileUpload')">Upload File</button>
        <input id="audioFileUpload" type="file" class="d-none" (change)="onFileSelectedAudio($event)" accept="*/*">
        
        <div *ngIf="submitted && fileAudioError != null" class="invalid-feedback">
          {{fileAudioError}}
        </div>
      </div>

      <div class="input-group-outline mb-3">
        <label class="col-md-5 ps-5 pt-2">Lyric_File</label>
        <button type="button" class="btn btn-primary" (click)="triggerFileInput('lyricFileUpload')">Upload File</button>
        <input id="lyricFileUpload" type="file" class="d-none" (change)="onFileSelectedLrc($event)" accept="*/*">
        
        <div *ngIf="submitted && fileLrcError != null" class="invalid-feedback">
          {{fileLrcError}}
        </div>
      </div>

      <button mat-button color="primary" class="btn btn-lg bg-gradient-primary btn-lg w-150 mt-4">Save</button>
      <button mat-button mat-dialog-close class="btn btn-lg bg-gradient-black btn-lg w-150 mt-4">Cancel</button>
    </form>
  </div>
</mat-dialog-content>
