<h2 mat-dialog-title class="ps-10">Edit Artist</h2>
<mat-dialog-content>
    <div class="container-fluid">
        <form role="form" [formGroup]="formEdit" (ngSubmit)="edit()">
            <div class="input-group input-group-outline mb-3">
                <label class="col-md-5 ps-5 pt-2">Artist Name</label>
                <input formControlName="artistName" type="text" class="form-control">
                <div *ngIf="submitted && formEdit.controls['artistName'].hasError('required')" class="invalid-feedback">
                    Artist Name is required
                </div>
                <div *ngIf="formEdit.controls['artistName'].hasError('backendError')" class="invalid-feedback">
                    {{ formEdit.controls['artistName'].getError('backendError') }}
                </div>
            </div>

            <div class="input-group input-group-outline mb-3">
                <label class="col-md-5 ps-5 pt-2">Bio</label>
                <input formControlName="bio" type="textarea" class="form-control">
                <div *ngIf="submitted && formEdit.controls['bio'].hasError('required')" class="invalid-feedback">
                    Bio is required
                </div>
                <div *ngIf="formEdit.controls['bio'].hasError('backendError')" class="invalid-feedback">
                    {{ formEdit.controls['bio'].getError('backendError') }}
                </div>
            </div>

            <button mat-button color="primary"
                class=" btn btn-lg bg-gradient-primary btn-lg w-150 mt-4 mb-0">Save</button>
            <button mat-button mat-dialog-close
                class="btn btn-lg bg-gradient-black btn-lg w-150 mt-4 mb-0">Cancel</button>
        </form>
    </div>
</mat-dialog-content>